{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <form class="form" action="/check-curfew-answers" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "What time does the curfew start?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "curfew-daily-start",
  name: "curfew-daily-start"
}) }}

{{ govukInput({
  label: {
    text: "What time does the curfew end?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "curfew-daily-end",
  name: "curfew-daily-end"
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
