{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l"> What are the start and end times for the curfew?</h1>

      <form class="form" action="/check-curfew-answers" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Curfew start time",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  id: "curfew-daily-start",
  name: "curfew-daily-start"
}) }}

{{ govukInput({
  label: {
    text: "Curfew end time",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  id: "curfew-daily-end",
  name: "curfew-daily-end"
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
