{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    
      <form class="form" action="/curfew-sunday" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What time does the curfew start on Saturdays?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "curfew-saturday-start",
          name: "curfew-saturday-start"
        }) }}
        
        {{ govukInput({
          label: {
            text: "What time does the curfew end on Saturdays?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "curfew-saturday-end",
          name: "curfew-saturday-end"
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
