{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      <form class="form" action="/risk-indicators" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "equipment-installation-detail",
          id: "equipment-installation-detail",
          label: {
            text: "Is there any information about the address or offender that the contractor should know about for installation?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, whether the address is difficult to access; the offender has a sight or hearing deficiency, learning difficulties, or conditions which will affect the placement of the tag (such as prosthetic limbs)."
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
