{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
Which prison is the offender being released from?      </h1>

      <form class="form" action="/prison-contact" method="post">

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "sort",
          name: "sort",
          label: {
            
          },
          items: [
            {
              value: "Altcourse Prison",
              text: "Altcourse Prison"
            },
            {
              value: "Ashfield Prison",
              text: "Ashfield Prison",
              selected: true
            },
            {
              value: "Aylesbury Prison",
              text: "Aylesbury Prison"
            },
            {
              value: "Bedford Prison",
              text: "Bedford Prison"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
